td {
  background-color: white;
  border: 3px solid black;
  border-collapse: collapse;
  width: 50px;
  height: 50px;
}

.invisible {
  background-color: white;
  border: 0px white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}
